########################################################################################
# :-D

############################################
# mediapipe up on this!

opencv-python>=4.7.0.72
mediapipe>=0.10.1

#
############################################

############################################
# zoe depth requirements

#--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision>=0.11.2
timm==0.6.11

#
############################################

# EOF
########################################################################################
